<div layout="row" flex layout-wrap ng-show="!isGuest" ng-controller="appController">
	<div layout="row" flex layout-align="center" layout-wrap>
		<md-card flex flex-gt-md="60">
			<md-content layout-padding>
				<i flex class="fa fa-calendar"></i>
				<span flex>2.3 Alpha release meeting</span>
			</md-content>
		</md-card>
		<md-card flex flex-gt-md="60">
			<md-content layout-padding>
				<i flex class="fa fa-calendar"></i>
				<span flex>Team outing ideas discussion</span>
			</md-content>
		</md-card>
	</div>
</div>

<div class="omnipresent-area" layout="row" layout-padding layout-margin ng-show="!isGuest" ng-controller="appController">
	<md-button flex class="md-fab md-accent" aria-label="Create meeting">
		<md-tooltip md-direction="left">
			Create a meeting
		</md-tooltip>
		<i class="fa fa-plus"></i>
	</md-button>
</div>