html, body {
  background: #ececec; }

.omnipresent-area {
  position: fixed;
  right: 0;
  bottom: 0; }

md-whiteframe {
  background: #fff; }

md-card {
  background: #fff; }

.app-post {
  cursor: pointer; }
  .app-post img.author {
    width: 32px;
    height: 32px;
    border-radius: 50px;
    margin: -5px;
    overflow: hidden;
    background: gainsboro; }

/**
 * Buttons
 */
md-card .md-button, md-card-content .md-button {
  margin: 0 0 0 6px; }
