html,body{
	background: #ececec;
}

.omnipresent-area{
	position: fixed;
	right: 0;
	bottom: 0;
}
md-whiteframe{
	background: #fff;
}

md-card{
	background: #fff;
}

app-post{
	cursor: pointer;
	h4{
		margin: 0;
	}
	.title, .date, .time{
		margin: 0;
		font-weight: normal;
	}
	.date, .time{
		font-size: 12px;
	}
	.title{
		margin-bottom: 7px;
		padding: 0 6px;
	}
	.date{
		margin-bottom: 2px;
	}

	img.author{
		width: 64px;
		height: 64px;
		border-radius: 50px;
		overflow: hidden;
	}
}

/**
 * Buttons
 */
 .button-spaced{
	margin: 0 0 0 6px;
 }
md-card, md-card-content{
	.md-actions .md-button{
		margin: 0 0 0 6px;
	}
}