$primary: #00BCD4;
$accent: #FF5252;
$tertiary: #f8f899;

html,body{
	background: #f5f8fa;
}

.header{
	background: #fff;
}

.omnipresent-area{
	position: fixed;
	right: 0;
	bottom: 0;
}
md-whiteframe{
	background: #fff;
}

md-card{
	background: #fff;
}

/**
 * Posts module
 */
.search-posts{
	md-input-container{
		padding-bottom: 0;
	}
}

/**
 * Post directive
 */
app-post{
	cursor: pointer;
	h4{
		margin: 0;
	}
	.title, .date, .time{
		margin: 0;
		font-weight: normal;
	}
	.date, .time{
		font-size: 12px;
	}
	.title{
		margin-bottom: 7px;
		padding: 0 6px;
	}
	.date{
		margin-bottom: 2px;
	}

	img.author{
		width: 64px;
		height: 64px;
		border-radius: 50px;
		overflow: hidden;
	}
}


/**
 * Profile directive
 */
.app-profile{
	margin: 0;
	
	.hero-container{
		.hero{
			height: 360px;
			overflow: hidden;
			img{
				width: 100%;
				background: $tertiary;
			}
		}
		.hero-avatar-container{
			margin-top: -60px;
			.hero-avatar{
				border-radius: 60px;
				overflow: hidden;
				box-shadow: 0 1px 1px rgba(0,0,0,0.3);
				height: 120px;
				overflow: hidden;
				&.is-editable{
					cursor: pointer;
				}
				img{
					height: 100%;
				}
			}
		}

		.profile-name-container{
			.profile-name{
				.action-icon{
					opacity: 0;
				}
				&:hover{
					.action-icon{
						opacity: 1;
					}
				}
			}
		}

	}
}

/**
 * Buttons
 */
.button-spaced{
	margin: 0 0 0 6px;
}

md-card, md-card-content{
	.md-actions .md-button{
		margin: 0 0 0 6px;
	}
}

.action-icon{
	font-size: 22px;
}