body{
	background: #ececec;
}

.omnipresent-area{
	position: fixed;
	right: 0;
	bottom: 0;
}
md-whiteframe{
	background: #fff;
}

.app-post{
	cursor: pointer;
	img.author{
		width: 32px;
		height: 32px;
		border-radius: 50px;
		margin: -5px;
		overflow: hidden;
		background: gainsboro;
	}
	
}