
	<div layout="row" flex="100" layout-align="center center" ng-controller="ProfileController">
		<div class="app-profile" layout="column" flex>
			<div flex class="hero-container" layout="column">
				<div flex class="hero">
					<img src="/images/hero.jpg"  alt="hero">
				</div>
				<div flex class="hero-avatar-container" layout="column" layout-align="center center">
					<!-- toDo: edit profile picture link -->
					<div class="hero-avatar" ng-class="{'is-editable': (user._id == profile._id)}">
						<img ng-src="{{profile.avatar || '/images/profile.jpg'}}" alt="">
						<md-tooltip md-direction="top">{{(user._id == profile._id) ? user.name : profile.name}}</md-tooltip>
					</div>
				</div>
				<div flex class="profile-name-container" layout="column" layout-align="center center">
					<h1 class="profile-name">
						<a class="action-icon" href="#"><md-tooltip>Edit profile</md-tooltip><i class="fa fa-edit"></i></a>
						<span>{{profile.name}}</span>
					</h1>
				</div>
			</div>
		</div>
	</div>
