
	<div layout="row" flex="100" layout-align="center center" ng-controller="ProfileController">
		<div class="app-profile" layout="column" flex>
			<div flex class="hero-container" layout="column">
				<div flex class="hero">
					<img src="/images/hero.jpg"  alt="hero">
				</div>
				<div flex class="hero-avatar-container" layout="column" layout-align="center center">
					<!-- toDo: edit profile picture link -->
					<div class="hero-avatar" ng-class="{'is-editable': (user._id == profile._id)}">
						<img ng-src="{{profile.avatar || '/images/profile.jpg'}}" alt="">
						<md-tooltip md-direction="top">{{(user._id == profile._id) ? user.name : profile.name}}</md-tooltip>
					</div>
				</div>
				<div flex class="profile-name-container" layout="column" layout-align="center center">
					<h1 class="profile-name" ng-show="!isEditingProfile" >
						<a class="action-icon"ng-click="editProfile()"><md-tooltip>Edit profile</md-tooltip><i class="fa fa-edit"></i></a>
						<span ng-show="!isEditingProfile">{{profile.name}}</span>
					</h1>
					<div ng-show="isEditingProfile">
						<form name="userForm" class="form" layout="row" flex layout-padding layout-margin>
							<md-input-container flex="60" md-no-float>
								<input type="text" ng-model="editingProfile.name" placeholder="Full name">
							</md-input-container>
							<md-button flex ng-click="updateProfile()"> <i class="fa fa-save"></i></md-button>
							<md-button flex type="button" ng-click="cancelEditProfile()"><i class="fa fa-close"></i></md-button>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
